.main-content {
    margin-top: 60px;
}

body {
    background-color: #1a202c;
    color: #fff;
}

@media (min-width: 1200px) {
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xl {
        max-width: 1140px;
    }

}

.container-xl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

.col-lg-8 {
    flex: 0 0 auto;
    width: 100%
}

@media (min-width:992px) {

    .col-lg-8 {
        flex: 0 0 auto;
        width: 100%
    }
}

.padding-30 {
    padding: 30px;
}

.post .thumb.rounded .inner {
    border-radius: 10px;
    overflow: hidden;
}

.rounded {
    border-radius: 10px !important;
}

.bordered {
    border: 1px solid black;
}

.row {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 10em;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2)
}

.gy-5 {
    --bs-gutter-y: 0rem
}

@media (min-width:576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%
    }
}

.post-tabs {
    padding: 30px;
}

.post-tabs .tab-content {
    margin-top: 30px;
}

.post .category-badge {
    color: #fff;
    font-size: 13px;
    border-radius: 25px;
    display: inline-block;
    padding: 6px 11px;
    line-height: 1;
    left: 20px;
    top: 20px;
    z-index: 1;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #2b72fb 74%);
    background-size: 200% auto;
    transition: all 0.3s ease-in-out;
}

.post .category-badge:hover {
    background-position: right center;
}

.post .thumb {
    position: relative;
}

.post .thumb img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.post .thumb:hover img {
    transform: scale(1.07);
}

.post .post-title a {
    color: #fff;
}

.post .post-title a:hover {
    color: #2b72fb;
}

.post .meta {
    font-size: 14px;
    color: #9faabb;
}

.post .meta a {
    color: #9faabb;
    font-weight: 400;
}

.post .meta a:hover {
    color: #2b72fb;
}

.post .meta i {
    vertical-align: middle;
}

.post .meta li:last-child::after {
    content: "";
    display: none;
}

.post .meta li::after {
    content: "";
    display: inline-block;
    background-color: #2b72fb;
    border-radius: 50%;
    margin-left: 1rem;
    height: 3px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 3px;
}

.post .meta li:not(:last-child) {
    margin-right: 0.8rem;
}

.featured-post-lg {
    position: relative;
}

.post .thumb .inner {

    max-width: 100%;
    z-index: -1;
    height: auto;
    position: relative;
    vertical-align: middle
}

.post.post-list-sm {
    clear: both;
}

.post.post-list-sm.circle .thumb {
    max-width: 60px;
}

.post.post-list-sm.circle .details {
    margin-left: 80px;
}

.post.post-list-sm .thumb {
    float: left;
    position: relative;
}

.post .thumb {
    position: relative;
}


.post .thumb.circle .inner {
    overflow: hidden;
    border-radius: 50%;
}

.post.post-list-sm .post-title {
    font-size: 15px;
}

.post.post-list-sm::after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post.post-list-sm:last-child::after {
    content: "";
    display: none;
}

.post .post-format {
    color: #fff;
    display: block;
    border-radius: 50%;
    font-size: 20px;
    height: 50px;
    line-height: 54px;
    right: 20px;
    text-align: center;
    bottom: -25px;
    position: absolute;
    width: 50px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #6e72fc;
    background: linear-gradient(315deg, #6e72fc 0%, #2b72fb 74%);
    z-index: 1;
}

.post .meta li img.author {
    margin-right: 12px;
    vertical-align: middle;
    border-radius: 50%;
}



.post.post-list-sm.square .thumb {
    max-width: 110px;
}

.post.post-list-sm.square .details {
    margin-left: 130px;
}

/* ******************* */

.post.post-list-sm.before-seperator::before {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post.post-list-sm.before-seperator::after {
    content: "";
    display: none;
}


.post-carousel .slick-slide {
    margin: 0px 12px;
}

.post.post-over-content {
    position: relative;
}

.post.post-over-content .thumb {
    position: relative;
    overflow: hidden;
}

.post.post-over-content .thumb::after {
    content: "";
    background: #203656;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    top: 0;
    position: absolute;
    width: 100%;
}

.post.post-over-content .details {
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    z-index: 1;
}

.post.post-over-content .post-title {
    font-size: 22px;
}

.post.post-over-content .post-title a {
    color: #fff;
}

.post.post-over-content .post-title a:hover {
    color: aliceblue;
}

.post.post-over-content .meta {
    color: rgba(255, 255, 255, 0.5);
}

.post.post-over-content .meta li::after {
    content: "";
    background: rgba(255, 255, 255, 0.5);
}

.post.post-over-content .meta li a {
    color: rgba(255, 255, 255, 0.5);
}

/* **************** */

.post.post-list {
    margin-bottom: 30px;
}

.post.post-list .thumb {
    float: left;
    max-width: 265px;
}

.post.post-list .details {
    margin-left: 295px;
}

.post.post-list .post-title {
    margin: 9px 0;
}

.post.post-list .post-bottom {
    margin-top: 9px;
}

.post.post-list .post-bottom .social-share .icons {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.post.post-list .post-bottom .social-share .icons::before {
    content: "";
    background: #ddd;
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
}

.post.post-list .post-bottom .social-share .icons.visible {
    opacity: 1;
    visibility: visible;
}

.post .post-bottom .social-share .toggle-button {
    font-size: 16px;
    color: #9faabb;
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: middle;
}

.post .post-bottom .social-share .icons {
    display: inline;
    vertical-align: middle;
}

.post .post-bottom .social-share .icons li a {
    color: #9faabb;
    font-size: 14px;
}

.post .post-bottom .social-share .icons li a:hover {
    color: #2b72fb;
}

.post .post-bottom .social-share .icons li:not(:last-child) {
    margin-right: 0.8rem;
}

.post .post-bottom .more-button a {
    font-size: 16px;
    font-weight: 700;
    color: #9faabb;
}

.post .post-bottom .more-button a i {
    color: #9faabb;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;
}

.post .post-bottom .more-button a:hover {
    color: #2b72fb;
}

.post.post-list::after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post .post-format-sm {
    color: #fff;
    display: block;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    line-height: 34px;
    left: 20px;
    text-align: center;
    top: 20px;
    position: absolute;
    width: 30px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #2b72fb 74%);
    z-index: 1;
}


.post.post-list-sm .thumb .number {
    color: #fff;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 700px;
    height: 24px;
    line-height: 22px;
    left: 0;
    text-align: center;
    top: -10px;
    position: absolute;
    width: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #2b72fb 74%);
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .featured-post-lg .thumb .inner {
        height: 425px;
    }

    .post.post-list .thumb {
        float: none;
        max-width: 550px;
    }

    .post.post-list .details {
        margin-left: 0;
        margin-top: 25px;
    }

    .post .meta li::after {
        content: "";
        margin-left: 0.5rem;
    }

    .post .meta li:not(:last-child) {
        margin-right: 0.3rem;
    }

    .instagram-feed .insta-item {
        text-align: center;
        margin: 2.5px 0;
    }

    .footer-inner {
        text-align: center;
    }

    .featured-post-lg .post-title {
        font-size: 26px;
    }

    .featured-post-lg .details {
        bottom: 30px;
        left: 30px;
        right: 30px;
    }

    .search-popup .search-content {
        padding: 0px 20px;
        width: 100%;
    }

    .post-carousel-widget .post-carousel {
        margin: 0 12px;
    }

    .post-carousel-widget .post-carousel .post-title {
        font-size: 16px;
    }
}


.post .category-badge {
    color: #fff;
    font-size: 13px;
    border-radius: 25px;
    display: inline-block;
    padding: 6px 11px;
    line-height: 1;
    left: 20px;
    top: 20px;
    z-index: 1;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #393edb 0%, #e21717 74%);
    background-size: 200% auto;
    transition: all 0.3s ease-in-out;
}


.position-absolute {
    position: absolute !important;
}

.list-inline {
    padding-left: 0;
    list-style: none
}

.list-inline-item {
    display: inline-block
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem
}

li.list-inline-item {
    font-size: 0.9rem
}

.mt-4 {
    margin-top: 1.5rem !important
}

.mb-0 {
    margin-bottom: 1 !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

.mt-3 {
    margin-top: 1rem !important
}