/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --dark-grey: #333333;
    --medium-grey: #636363;
    --light-grey: #eeeeee;
    --ash: #f4f4f4;
    --primary-color: #2b72fb;
    --white: white;
    --border: 1px solid var(--light-grey);
    --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
    font-family: inherit;
    background-color: var(--white);
    color: var(--dark-grey);
    letter-spacing: -0.4px;
}

ul {
    list-style: none;
}

a {
    color: white;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.btn {
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}

.icon {
    padding: 0.5rem;
    background-color: var(--light-grey);
    border-radius: 10px;
}

.logo {
    float: left;
}

#nav-menu {
    border-bottom: var(--border);
}

h1 {
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
}

h2 {
    text-align: left;
    line-height: 50px;
    font-size: 1.5rem;
}

.containers h2.zdpjvzelk {
    text-align: center;
}

/*
br {
content: "";
margin: 2em;
display: block;
font-size: 24%;
}*/

li {
    text-decoration: none;
    color: inherit;
    line-height: 30px;
    font-size: 1rem;
    font-weight: normal
}

h3 {
    text-decoration: none;
    color: inherit;
    line-height: 30px;
    font-size: 1rem;
    font-weight: normal
}

.missions-suaps {
    color: rgb(19, 16, 206);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    height: 90px;
    padding: 1.2rem 3rem;
    background-color: #292c2f;
}

.menu {
    position: relative;
    background: var(--white);
}

.menu-bar li:first-child .dropdown {
    flex-direction: initial;
    min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
    border-right: var(--border);
}

.menu-bar .dropdown-link-title {
    font-weight: 600;
}

.menu-bar .nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: -0.6px;
    padding: 0.3rem;
    min-width: 60px;
    margin: 0 0.6rem;
    font-weight: 600;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
    color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
    display: flex;
    align-items: center;
    background-color: #292c2f;
}

.dropdown {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    min-width: 230px;
    background-color: #33383b;
    border-radius: 10px;
    position: absolute;
    top: 45px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.97) translateX(-5px);
    transition: 0.1s ease-in-out;
    box-shadow: var(--shadow);
}

.dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(5px);
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.1rem;
    font-size: 0.95rem;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.15rem;
}

.dropdown-link {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 7px;
    transition: 0.1s ease-in-out;

}

.dropdown-link p {
    font-size: 0.8rem;
    color: var(--medium-grey);
}

.right-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.right-container .search {
    position: relative;
}

.right-container img {
    border-radius: 50%;
}

.search input {
    background-color: var(--ash);
    border: none;
    border-radius: 6px;
    padding: 0.7rem;
    padding-left: 2.4rem;
    font-size: 16px;
    width: 100%;
    border: var(--border);
}

.search .bx-search {
    position: relative;
    left: 10px;
    top: 50%;
    font-size: 1.3rem;
    transform: translateY(-50%);
    opacity: 0.6;
}

#hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#hamburger svg {
    height: 3rem;
    width: 3rem;
    color: white;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

#hamburger .openIcon {
    display: block;
    margin-top: 11.5px;
}

#hamburger.open .openIcon {
    display: none;
}

br {
    user-select: none;
}

.instagram-widget {
    text-align: center;
    display: flex;
    width: 100%;

}

.instagram-widget1 {
    margin-left: 175px;
    margin-right: 50px;
}


@media (max-width: 700px) {
    .right-container {
        display: none;
    }

    .logo {
        display: block;
        float: left;
        text-indent: -150px;
    }

    #hamburger {
        display: block;
        color: black;
    }

    .container {
        padding: 1.2rem;
    }

    .menu {
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        width: 100vw;
    }

    .menu-bar li:first-child ul:nth-child(1) {
        border-right: none;
        border-bottom: var(--border);
    }

    .dropdown {
        display: none;
        min-width: 100%;
        border: none !important;
        border-radius: 10px;
        position: static;
        top: 0;
        left: 0;
        visibility: visible;
        opacity: 1;
        transform: none;
        box-shadow: none;
    }

    .menu.show,
    .dropdown.active {
        display: block;
    }

    .dropdown ul {
        padding-left: 1.5rem;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        row-gap: 1rem;
        padding: 1rem;
    }

    .menu-bar .nav-link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        margin: 0;
    }

    .menu-bar li:first-child .dropdown {
        min-width: 100%;
    }

    .menu-bar>li:not(:last-child) {
        padding-bottom: 0.5rem;
        border-bottom: var(--border);
    }

    .instagram-widget {
        display: block;
    }

    .instagram-widget1 {
        margin-left: 0px;
        margin-right: 0px;
    }
}


table {
    border-collapse: collapse;
    border-spacing: 10;
}


.structure,
body {
    position: relative;
    min-height: 100%
}

a {
    cursor: pointer
}

a:active,
a:hover {
    outline: 0
}

.containers {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px -10px black;
}

.containers .title {
    text-align: center;
    margin-block-end: 40px;
}

.containers h3 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 30px;
}

.containers h3.zdpjvzelk {
    margin-top: -50px;
    margin-bottom: -10px;
    font-size: 1.7em;
}

.containers h6 {
    margin-top: 25px;
    font-size: 1.13em;
}

.containers a.forma {
    margin-top: 25px;
    font-size: 1em;
    color: rgb(19, 16, 206);
}


.containers form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

.containers form input {
    width: 45%;
}

.containers form textarea {
    width: 100%;
    resize: none;
    height: 150px;
}

.containers form textarea:hover,
.containers form input:hover {
    border-bottom: 2px solid #292c2f;
}

.containers form input,
.containers form textarea {
    margin: 15px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(163, 159, 159, 0.329);
    box-sizing: border-box;
    transition: 0.2s;
}

.containers form button {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #292c2f;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

.containers form button:hover {
    transform: translateY(-5px);
    box-shadow: rgb(214 214 214) 0px 10px 40px 0px;
}

@media screen and (max-width: 700px) {
    .containers form {
        flex-direction: column;
        width: 95%;
    }

    .containers form input {
        width: 100%;
    }

    .containers .title h3 {
        font-size: 2em;
    }

    .containers h6 {
        margin-top: 25px;
        font-size: 1em;
    }

    .containers a {
        margin-top: 25px;
        font-size: 1em;
    }


}