/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --dark-grey: #333333;
    --medium-grey: #636363;
    --light-grey: #eeeeee;
    --ash: #f4f4f4;
    --primary-color: #2b72fb;
    --white: #1a202c;
    --customgrey: #1a202c;
    --border: 1px solid var(--light-grey);
    --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
    background-color: #1a202c;
    font-style:white ;
    letter-spacing: -0.4px;
}

ul {
    list-style: none;
}

a {
    color: white;
}

.planning_sports {
	padding-top: 20px;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	padding-bottom: 50px;
}

.planning_sports p {
	padding-top: 20px;
	padding-bottom: 20px;
}

.planning_sports a {
	color: white;
}

.planning_sports table {
	border-collapse: collapse;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(2px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);


	z-index: 10000;
	overflow-x: auto;
	max-width: 70%;
	display: inline-block;
	height: 75%;
}

.planning_sports tbody td,
th {
	border-width: 0.5px;
	border-style: solid;
	border-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 100px;
	color: white;
	width: 150px;
}

.planning_sports tbody th {
	min-width: 200px;
	width: 200px;
}

.planning_sports thead th {
	background-color: #630707;
	color: white;
	font-weight: normal;
	font-size: 1.3em;
	padding-top: 15px;
	padding-bottom: 15px;
    min-width: 200px;
}
 

.planning_sports td,
.planning th {
	text-align: center;
}

.planning_sports p {
	margin-right: 10%;
	margin-left: 10%;
}

.planning_sports center {
	margin-top: 5%;
}

.sport_table {
	font-size: 1.1rem;
	font-weight: bold;

}

.sport_colone {
	background-color: rgba(0, 0, 0, 0.7);
}

.sport_group_table {
	font-weight: normal;
}

.full_table {
	background-color: rgba(0, 0, 0, 0.7);
}

.horaires_table {
	text-decoration: underline;
}

.lieu_table,
.remarque_table {
	font-style: italic;
}


button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.btn {
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}

.icon {
    padding: 0.5rem;
    background-color: var(--light-grey);
    border-radius: 10px;
}

.logo {
    float: left;
}

#nav-menu {
    border-bottom: var(--border);
}

h1 {
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
}

h2 {
    text-align: left;
    text-decoration: underline;
    line-height: 50px;
    font-size: 1.5rem;
}

.containers h2.zdpjvzelk {
    text-align: center;
}

/*
br {
content: "";
margin: 2em;
display: block;
font-size: 24%;
}*/

li {
    text-decoration: none;
    line-height: 30px;
    font-size: 1rem;
    font-weight: normal
}

h3 {
    text-decoration: none;
    color: inherit;
    line-height: 30px;
    font-size: 1rem;
    font-weight: normal
}

.missions-suaps {
    color: rgb(19, 16, 206);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    height: 90px;
    padding: 1.2rem 3rem;
}

.menu {
    position: relative;
    z-index: 10;
    background: var(--white);
}

.menu-bar li:first-child .dropdown {
    flex-direction: initial;
    min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
    border-right: var(--border);
}

.menu-bar .dropdown-link-title {
    font-weight: 600;
}

.menu-bar .nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: -0.6px;
    padding: 0.3rem;
    min-width: 60px;
    margin: 0 0.6rem;
    font-weight: 600;
    color: #fff;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
    color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border-radius: 15px;
    position: absolute;
    top: 45px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.97) translateX(-5px);
    transition: 0.1s ease-in-out;
    border-style:solid;
    border-color: #292c2f;
    border-width: 1px;
    background-color: var(--white);
}

.dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(5px);
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.1rem;
    font-size: 0.95rem;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.15rem;
}

.dropdown-link {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 7px;
    transition: 0.1s ease-in-out;
}

.right-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.right-container .search {
    position: relative;
}

.right-container img {
    border-radius: 50%;
}

.search input {
    background-color: var(--ash);
    border: none;
    border-radius: 6px;
    padding: 0.7rem;
    padding-left: 2.4rem;
    font-size: 16px;
    width: 100%;
    border: var(--border);
}

.search .bx-search {
    position: relative;
    left: 10px;
    top: 50%;
    font-size: 1.3rem;
    transform: translateY(-50%);
    opacity: 0.6;
}

#hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#hamburger svg {
    height: 3rem;
    width: 3rem;
    color: white;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: #fff
}

#hamburger .openIcon {
    display: block;
    margin-top: 15px;
}

#hamburger.open .openIcon {
    display: none;
}

br {
    user-select: none;
}

.instagram-widget {
    text-align: center;
    display: flex;
    width: 100%;

}

.instagram-widget1 {
    margin-left: 175px;
    margin-right: 50px;
}

@media (max-width: 800px) {
    .right-container {
        display: none;
    }

    .logo {
        display: block;
        float: left;
    }

    #hamburger {
        display: block;
        color: black;
    }

    .container {
        padding: 1.2rem;
    }

    .menu {
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        width: 100vw;
    }

    .menu-bar li:first-child ul:nth-child(1) {
        border-right: none;
        border-bottom: var(--border);
    }

    .dropdown {
        display: none;
        min-width: 100%;
        border: none !important;
        border-radius: 10px;
        position: relative;
        top: 0px;
        left: 0;
        visibility: visible;
        opacity: 1;
        transform: none;
        box-shadow: none;
    }

    .menu.show,
    .dropdown.active {
        display: block;
    }

    .dropdown ul {
        padding-left: 1.5rem;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        row-gap: 1rem;
        padding: 1rem;
    }

    .menu-bar .nav-link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        margin: 0;
    }

    .menu-bar li:first-child .dropdown {
        min-width: 100%;
    }

    .menu-bar>li:not(:last-child) {
        padding-bottom: 0.5rem;
        border-bottom: var(--border);
    }

    .instagram-widget {
        display: block;
    }

    .instagram-widget1 {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (min-width: 300px) {
    .logo {
        display: block;
        float: left;
        text-indent: -107px;
    }
}

@media (min-width: 310px) {
    .logo {
        display: block;
        float: left;
        text-indent: -110px;
    }
}

@media (min-width: 320px) {
    .logo {
        display: block;
        float: left;
        text-indent: -115px;
    }
}

@media (min-width: 330px) {
    .logo {
        display: block;
        float: left;
        text-indent: -120px;
    }
}

@media (min-width: 340px) {
    .logo {
        display: block;
        float: left;
        text-indent: -120px;
    }
}

@media (min-width: 350px) {
    .logo {
        display: block;
        float: left;
        text-indent: -120px;
    }
}

@media (min-width: 360px) {
    .logo {
        display: block;
        float: left;
        text-indent: -125px;
    }
}

@media (min-width: 370px) {
    .logo {
        display: block;
        float: left;
        text-indent: -135px;
    }
}

@media (min-width: 380px) {
    .logo {
        display: block;
        float: left;
        text-indent: -140px;
    }
}

@media (min-width: 390px) {
    .logo {
        display: block;
        float: left;
        text-indent: -145px;
    }
}

@media (min-width: 400px) {
    .logo {
        display: block;
        float: left;
        text-indent: -150px;
    }
}

@media (min-width: 410px) {
    .logo {
        display: block;
        float: left;
        text-indent: -155px;
    }
}

@media (min-width: 420px) {
    .logo {
        display: block;
        float: left;
        text-indent: -160px;
    }
}

@media (min-width: 430px) {
    .logo {
        display: block;
        float: left;
        text-indent: -165px;
    }
}

@media (min-width: 440px) {
    .logo {
        display: block;
        float: left;
        text-indent: -170px;
    }
}

@media (min-width: 450px) {
    .logo {
        display: block;
        float: left;
        text-indent: -175px;
    }
}

@media (min-width: 460px) {
    .logo {
        display: block;
        float: left;
        text-indent: -180px;
    }
}

@media (min-width: 470px) {
    .logo {
        display: block;
        float: left;
        text-indent: -185px;
    }
}

@media (min-width: 480px) {
    .logo {
        display: block;
        float: left;
        text-indent: -190px;
    }
}

@media (min-width: 490px) {
    .logo {
        display: block;
        float: left;
        text-indent: -195px;
    }
}

@media (min-width: 500px) {
    .logo {
        display: block;
        float: left;
        text-indent: -200px;
    }
}

@media (min-width: 510px) {
    .logo {
        display: block;
        float: left;
        text-indent: -205px;
    }
}

@media (min-width: 520px) {
    .logo {
        display: block;
        float: left;
        text-indent: -210px;
    }
}

@media (min-width: 530px) {
    .logo {
        display: block;
        float: left;
        text-indent: -215px;
    }
}

@media (min-width: 540px) {
    .logo {
        display: block;
        float: left;
        text-indent: -220px;
    }
}

@media (min-width: 550px) {
    .logo {
        display: block;
        float: left;
        text-indent: -225px;
    }
}

@media (min-width: 560px) {
    .logo {
        display: block;
        float: left;
        text-indent: -230px;
    }
}

@media (min-width: 570px) {
    .logo {
        display: block;
        float: left;
        text-indent: -235px;
    }
}

@media (min-width: 580px) {
    .logo {
        display: block;
        float: left;
        text-indent: -240px;
    }
}

@media (min-width: 590px) {
    .logo {
        display: block;
        float: left;
        text-indent: -245px;
    }
}

@media (min-width: 600px) {
    .logo {
        display: block;
        float: left;
        text-indent: -250px;
    }
}

@media (min-width: 610px) {
    .logo {
        display: block;
        float: left;
        text-indent: -255px;
    }
}

@media (min-width: 620px) {
    .logo {
        display: block;
        float: left;
        text-indent: -260px;
    }
}

@media (min-width: 630px) {
    .logo {
        display: block;
        float: left;
        text-indent: -265px;
    }
}

@media (min-width: 640px) {
    .logo {
        display: block;
        float: left;
        text-indent: -270px;
    }
}

@media (min-width: 650px) {
    .logo {
        display: block;
        float: left;
        text-indent: -275px;
    }
}

@media (min-width: 660px) {
    .logo {
        display: block;
        float: left;
        text-indent: -280px;
    }
}

@media (min-width: 670px) {
    .logo {
        display: block;
        float: left;
        text-indent: -285px;
    }
}

@media (min-width: 680px) {
    .logo {
        display: block;
        float: left;
        text-indent: -290px;
    }
}

@media (min-width: 690px) {
    .logo {
        display: block;
        float: left;
        text-indent: -295px;
    }
}

@media (min-width: 700px) {
    .logo {
        display: block;
        float: left;
        text-indent: -300px;
    }
}

@media (min-width: 710px) {
    .logo {
        display: block;
        float: left;
        text-indent: -305px;
    }
}

@media (min-width: 720px) {
    .logo {
        display: block;
        float: left;
        text-indent: -310px;
    }
}

@media (min-width: 730px) {
    .logo {
        display: block;
        float: left;
        text-indent: -315px;
    }
}

@media (min-width: 740px) {
    .logo {
        display: block;
        float: left;
        text-indent: -320px;
    }
}

@media (min-width: 750px) {
    .logo {
        display: block;
        float: left;
        text-indent: -325px;
    }
}

@media (min-width: 760px) {
    .logo {
        display: block;
        float: left;
        text-indent: -330px;
    }
}

@media (min-width: 770px) {
    .logo {
        display: block;
        float: left;
        text-indent: -335px;
    }
}

@media (min-width: 780px) {
    .logo {
        display: block;
        float: left;
        text-indent: -340px;
    }
}

@media (min-width: 790px) {
    .logo {
        display: block;
        float: left;
        text-indent: -345px;
    }
}


@media (min-width: 801px) {
    .logo {
        display: block;
        float: left;
        text-indent: -50px;
    }
}


table {
    border-collapse: collapse;
    border-spacing: 10;
}


.structure,
body {
    position: relative;
    min-height: 100%
}

a {
    cursor: pointer
}

a:active,
a:hover {
    outline: 0
}

.containers {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px -10px black;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containers .title {
    text-align: center;
    margin-block-end: 30px;
}

.titless h3 {
    margin-block-end: 30px;
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 30px;
    font-weight: 1000;
}

.containers h3 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 30px;
    font-weight: 1000;
}

.containers h3.zdpjvzelk {
    margin-top: -50px;
    margin-bottom: -10px;
    font-size: 1.7em;
}

.containers h6 {
    margin-top: 25px;
    font-size: 1.13em;
}

.containers a.forma {
    margin-top: 25px;
    font-size: 1em;
    color: rgb(19, 16, 206);
}

.containers form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

.containers form input {
    width: 45%;
}

.containers form textarea {
    width: 100%;
    resize: none;
    height: 150px;
}

.containers form textarea:hover,
.containers form input:hover {
    border-bottom: 2px solid var(--customgrey);
}

.containers form input,
.containers form textarea {
    margin: 15px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(163, 159, 159, 0.329);
    box-sizing: border-box;
    transition: 0.2s;
}

.containers form button {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

.containers form button:hover {
    transform: translateY(-5px);
    box-shadow: rgb(214 214 214) 0px 10px 40px 0px;
}

@media screen and (max-width: 700px) {
    .containers form {
        flex-direction: column;
        width: 95%;
    }

    .containers form input {
        width: 100%;
    }

    .containers .title h3 {
        font-size: 2em;
    }

    .containers h6 {
        margin-top: 25px;
        font-size: 1em;
    }

    .containers a {
        margin-top: 25px;
        font-size: 1em;
    }
}