@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap);

:root {
    --bg-color: #121212;
    --main-color: #15a4cf;
    --main-hover-color: #2c2c2c;
    --second-color: #1a1a1a;
    --third-color: #2c2c2c;
    --nav-text-color: #98999b;
    --nav-text-hover-color: #fffce4;
    --heading-color: #fffce4;
    --small-text-color: #c7c7c7;
    --very-small-text-color: #999999;
    --cc-color: #121212;
}

.nav-area {
    list-style: none;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background-color: #1a1a1a;
}

section {
    display: flex;
    height: 80px;
    color: var(--bg-color);
    font-size: 17px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-area a {
    color: var(--heading-color);
}

h1 {
    user-select: none;
    color: var(--heading-color);

}

#responsiveMenuToggleButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#responsiveMenuToggleButton svg {
    height: 3rem;
    width: 3rem;
    color: var(--nav-text-hover-color);
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

#responsiveMenuToggleButton .openIcon {
    display: block;
    margin-top: 11.5px;
}

#responsiveMenuToggleButton .closeIcon {
    display: none;
}

#responsiveMenuToggleButton.open .openIcon {
    display: none;
}

#responsiveMenuToggleButton.open .closeIcon {
    display: block;
    margin-top: 11.5px;
}

img {
    position: absolute;
    height: 55px;
    left: 140px;
}

@media screen and (max-width: 900px) {
    img {
        position: absolute;
        height: 60px;
        left: 95px;
    }
    

    header {
        height: 100px;
    }

    #responsiveMenuToggleButton {
        display: block;
    }

    .nav-area {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        width: 100%;
        display: none;
    }

    .nav-links.open {
        display: block;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
    }

    h1 {
        text-indent: -45px;
    }
}

ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: var(--heading-color);
    font-size: 17px;
}

.nav-area li a:hover {
    color: var(--nav-text-hover-color);
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    position: relative;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    min-width: 300px;
    overflow-x: hidden;
    color: #0e1115;
    background: #fff;
    z-index: 1;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent
}

body {
    font-size: 1rem;
}

a {
    text-decoration: none
}


@media screen and (min-width:300px) {
    .align-center_xxs {
        align-items: center
    }
}

@media screen and (min-width:480px) {
    .align-center_xs {
        align-items: center
    }
}

@media screen and (min-width:600px) {
    .align-center_s {
        align-items: center
    }
}

@media screen and (min-width:840px) {
    .align-center_m {
        align-items: center
    }
}

@media screen and (min-width:960px) {
    .align-center_l {
        align-items: center
    }
}

@media screen and (min-width:1280px) {
    .align-center_xl {
        align-items: center
    }
}

@media screen and (min-width:1440px) {
    .align-center_xxl {
        align-items: center
    }
}

.align-flex-start {
    align-items: flex-start
}

@media screen and (min-width:300px) {
    .align-flex-start_xxs {
        align-items: flex-start
    }
}

@media screen and (min-width:480px) {
    .align-flex-start_xs {
        align-items: flex-start
    }
}

@media screen and (min-width:600px) {
    .align-flex-start_s {
        align-items: flex-start
    }
}

@media screen and (min-width:840px) {
    .align-flex-start_m {
        align-items: flex-start
    }
}

@media screen and (min-width:960px) {
    .align-flex-start_l {
        align-items: flex-start
    }
}

@media screen and (min-width:1280px) {
    .align-flex-start_xl {
        align-items: flex-start
    }
}

@media screen and (min-width:1440px) {
    .align-flex-start_xxl {
        align-items: flex-start
    }
}

.align-flex-end {
    align-items: flex-end
}

@media screen and (min-width:300px) {
    .align-flex-end_xxs {
        align-items: flex-end
    }
}

@media screen and (min-width:480px) {
    .align-flex-end_xs {
        align-items: flex-end
    }
}

@media screen and (min-width:600px) {
    .align-flex-end_s {
        align-items: flex-end
    }
}

@media screen and (min-width:840px) {
    .align-flex-end_m {
        align-items: flex-end
    }
}

@media screen and (min-width:960px) {
    .align-flex-end_l {
        align-items: flex-end
    }
}

@media screen and (min-width:1280px) {
    .align-flex-end_xl {
        align-items: flex-end
    }
}

@media screen and (min-width:1440px) {
    .align-flex-end_xxl {
        align-items: flex-end
    }
}

.align-stretch {
    align-items: stretch
}

@media screen and (min-width:300px) {
    .align-stretch_xxs {
        align-items: stretch
    }
}

@media screen and (min-width:480px) {
    .align-stretch_xs {
        align-items: stretch
    }
}

@media screen and (min-width:600px) {
    .align-stretch_s {
        align-items: stretch
    }
}

@media screen and (min-width:840px) {
    .align-stretch_m {
        align-items: stretch
    }
}

@media screen and (min-width:960px) {
    .align-stretch_l {
        align-items: stretch
    }
}

@media screen and (min-width:1280px) {
    .align-stretch_xl {
        align-items: stretch
    }
}

@media screen and (min-width:1440px) {
    .align-stretch_xxl {
        align-items: stretch
    }
}

.align-baseline {
    align-items: baseline
}

@media screen and (min-width:300px) {
    .align-baseline_xxs {
        align-items: baseline
    }
}

@media screen and (min-width:480px) {
    .align-baseline_xs {
        align-items: baseline
    }
}

@media screen and (min-width:600px) {
    .align-baseline_s {
        align-items: baseline
    }
}

@media screen and (min-width:840px) {
    .align-baseline_m {
        align-items: baseline
    }
}

@media screen and (min-width:960px) {
    .align-baseline_l {
        align-items: baseline
    }
}

@media screen and (min-width:1280px) {
    .align-baseline_xl {
        align-items: baseline
    }
}

@media screen and (min-width:1440px) {
    .align-baseline_xxl {
        align-items: baseline
    }
}

.display-none {
    display: none
}

@media screen and (min-width:300px) {
    .display-none_xxs {
        display: none
    }
}

@media screen and (min-width:480px) {
    .display-none_xs {
        display: none
    }
}

@media screen and (min-width:600px) {
    .display-none_s {
        display: none
    }
}

@media screen and (min-width:840px) {
    .display-none_m {
        display: none
    }
}

@media screen and (min-width:960px) {
    .display-none_l {
        display: none
    }
}

@media screen and (min-width:1280px) {
    .display-none_xl {
        display: none
    }
}

@media screen and (min-width:1440px) {
    .display-none_xxl {
        display: none
    }
}

.display-block {
    display: flex
}

@media screen and (min-width:300px) {
    .display-block_xxs {
        display: flex
    }
}

@media screen and (min-width:480px) {
    .display-block_xs {
        display: flex
    }
}

@media screen and (min-width:600px) {
    .display-block_s {
        display: flex
    }
}

@media screen and (min-width:840px) {
    .display-block_m {
        display: flex
    }
}

@media screen and (min-width:960px) {
    .display-block_l {
        display: flex
    }
}

@media screen and (min-width:1280px) {
    .display-block_xl {
        display: flex
    }
}

@media screen and (min-width:1440px) {
    .display-block_xxl {
        display: flex
    }
}

.display-wrap {
    display: flex;
    flex-flow: wrap
}

@media screen and (min-width:300px) {
    .display-wrap_xxs {
        display: flex;
        flex-flow: wrap
    }
}

@media screen and (min-width:480px) {
    .display-wrap_xs {
        display: flex;
        flex-flow: wrap
    }
}

@media screen and (min-width:600px) {
    .display-wrap_s {
        display: flex;
        flex-flow: wrap
    }
}

@media screen and (min-width:840px) {
    .display-wrap_m {
        display: flex;
        flex-flow: wrap
    }
}

@media screen and (min-width:960px) {
    .display-wrap_l {
        display: flex;
        flex-flow: wrap
    }
}

@media screen and (min-width:1280px) {
    .display-wrap_xl {
        display: flex;
        flex-flow: wrap
    }
}

@media screen and (min-width:1440px) {
    .display-wrap_xxl {
        display: flex;
        flex-flow: wrap
    }
}

.is-focusable {
    user-select: none;
    cursor: pointer;
    transition: all .2s ease
}

.is-focusable.active,
.is-focusable:active,
.is-focusable:focus,
.is-focusable:hover {
    text-decoration: none
}

.is-focusable.disabled,
.is-focusable:disabled,
.is-focusable[disabled] {
    cursor: not-allowed;
    pointer-events: none
}

.is-focusable.disabled:not(.is-loading),
.is-focusable:disabled:not(.is-loading),
.is-focusable[disabled]:not(.is-loading) {
    opacity: .5
}

.gutter-none,
.gutter-none>* {
    margin: 0
}

@media screen and (min-width:300px) {

    .gutter-none_xxs,
    .gutter-none_xxs>* {
        margin: 0
    }
}

@media screen and (min-width:480px) {

    .gutter-none_xs,
    .gutter-none_xs>* {
        margin: 0
    }
}

@media screen and (min-width:600px) {

    .gutter-none_s,
    .gutter-none_s>* {
        margin: 0
    }
}

@media screen and (min-width:840px) {

    .gutter-none_m,
    .gutter-none_m>* {
        margin: 0
    }
}

@media screen and (min-width:960px) {

    .gutter-none_l,
    .gutter-none_l>* {
        margin: 0
    }
}

@media screen and (min-width:1280px) {

    .gutter-none_xl,
    .gutter-none_xl>* {
        margin: 0
    }
}

@media screen and (min-width:1440px) {

    .gutter-none_xxl,
    .gutter-none_xxl>* {
        margin: 0
    }
}

.gutter-s,
.gutter-s>* {
    background-clip: padding-box;
    border: .2rem solid transparent
}

@media screen and (min-width:300px) {

    .gutter-s_xxs,
    .gutter-s_xxs>* {
        background-clip: padding-box;
        border: .2rem solid transparent
    }
}

@media screen and (min-width:480px) {

    .gutter-s_xs,
    .gutter-s_xs>* {
        background-clip: padding-box;
        border: .2rem solid transparent
    }
}

@media screen and (min-width:600px) {

    .gutter-s_s,
    .gutter-s_s>* {
        background-clip: padding-box;
        border: .2rem solid transparent
    }
}

@media screen and (min-width:840px) {

    .gutter-s_m,
    .gutter-s_m>* {
        background-clip: padding-box;
        border: .2rem solid transparent
    }
}

@media screen and (min-width:960px) {

    .gutter-s_l,
    .gutter-s_l>* {
        background-clip: padding-box;
        border: .2rem solid transparent
    }
}

@media screen and (min-width:1280px) {

    .gutter-s_xl,
    .gutter-s_xl>* {
        background-clip: padding-box;
        border: .2rem solid transparent
    }
}

@media screen and (min-width:1440px) {

    .gutter-s_xxl,
    .gutter-s_xxl>* {
        background-clip: padding-box;
        border: .2rem solid transparent
    }
}

.gutter-m,
.gutter-m>* {
    background-clip: padding-box;
    border: .4rem solid transparent
}

@media screen and (min-width:300px) {

    .gutter-m_xxs,
    .gutter-m_xxs>* {
        background-clip: padding-box;
        border: .4rem solid transparent
    }
}

@media screen and (min-width:480px) {

    .gutter-m_xs,
    .gutter-m_xs>* {
        background-clip: padding-box;
        border: .4rem solid transparent
    }
}

@media screen and (min-width:600px) {

    .gutter-m_s,
    .gutter-m_s>* {
        background-clip: padding-box;
        border: .4rem solid transparent
    }
}

@media screen and (min-width:840px) {

    .gutter-m_m,
    .gutter-m_m>* {
        background-clip: padding-box;
        border: .4rem solid transparent
    }
}

@media screen and (min-width:960px) {

    .gutter-m_l,
    .gutter-m_l>* {
        background-clip: padding-box;
        border: .4rem solid transparent
    }
}

@media screen and (min-width:1280px) {

    .gutter-m_xl,
    .gutter-m_xl>* {
        background-clip: padding-box;
        border: .4rem solid transparent
    }
}

@media screen and (min-width:1440px) {

    .gutter-m_xxl,
    .gutter-m_xxl>* {
        background-clip: padding-box;
        border: .4rem solid transparent
    }
}

.gutter-l,
.gutter-l>* {
    background-clip: padding-box;
    border: .6rem solid transparent
}

@media screen and (min-width:300px) {

    .gutter-l_xxs,
    .gutter-l_xxs>* {
        background-clip: padding-box;
        border: .6rem solid transparent
    }
}

@media screen and (min-width:480px) {

    .gutter-l_xs,
    .gutter-l_xs>* {
        background-clip: padding-box;
        border: .6rem solid transparent
    }
}

@media screen and (min-width:600px) {

    .gutter-l_s,
    .gutter-l_s>* {
        background-clip: padding-box;
        border: .6rem solid transparent
    }
}

@media screen and (min-width:840px) {

    .gutter-l_m,
    .gutter-l_m>* {
        background-clip: padding-box;
        border: .6rem solid transparent
    }
}

@media screen and (min-width:960px) {

    .gutter-l_l,
    .gutter-l_l>* {
        background-clip: padding-box;
        border: .6rem solid transparent
    }
}

@media screen and (min-width:1280px) {

    .gutter-l_xl,
    .gutter-l_xl>* {
        background-clip: padding-box;
        border: .6rem solid transparent
    }
}

@media screen and (min-width:1440px) {

    .gutter-l_xxl,
    .gutter-l_xxl>* {
        background-clip: padding-box;
        border: .6rem solid transparent
    }
}

.gutter-xl,
.gutter-xl>* {
    background-clip: padding-box;
    border: .8rem solid transparent
}

@media screen and (min-width:300px) {

    .gutter-xl_xxs,
    .gutter-xl_xxs>* {
        background-clip: padding-box;
        border: .8rem solid transparent
    }
}

@media screen and (min-width:480px) {

    .gutter-xl_xs,
    .gutter-xl_xs>* {
        background-clip: padding-box;
        border: .8rem solid transparent
    }
}

@media screen and (min-width:600px) {

    .gutter-xl_s,
    .gutter-xl_s>* {
        background-clip: padding-box;
        border: .8rem solid transparent
    }
}

@media screen and (min-width:840px) {

    .gutter-xl_m,
    .gutter-xl_m>* {
        background-clip: padding-box;
        border: .8rem solid transparent
    }
}

@media screen and (min-width:960px) {

    .gutter-xl_l,
    .gutter-xl_l>* {
        background-clip: padding-box;
        border: .8rem solid transparent
    }
}

@media screen and (min-width:1280px) {

    .gutter-xl_xl,
    .gutter-xl_xl>* {
        background-clip: padding-box;
        border: .8rem solid transparent
    }
}

@media screen and (min-width:1440px) {

    .gutter-xl_xxl,
    .gutter-xl_xxl>* {
        background-clip: padding-box;
        border: .8rem solid transparent
    }
}

.justify-center {
    justify-content: center
}

@media screen and (min-width:300px) {
    .justify-center_xxs {
        justify-content: center
    }
}

@media screen and (min-width:480px) {
    .justify-center_xs {
        justify-content: center
    }
}

@media screen and (min-width:600px) {
    .justify-center_s {
        justify-content: center
    }
}

@media screen and (min-width:840px) {
    .justify-center_m {
        justify-content: center
    }
}

@media screen and (min-width:960px) {
    .justify-center_l {
        justify-content: center
    }
}

@media screen and (min-width:1280px) {
    .justify-center_xl {
        justify-content: center
    }
}

@media screen and (min-width:1440px) {
    .justify-center_xxl {
        justify-content: center
    }
}

.justify-flex-start {
    justify-content: flex-start
}

@media screen and (min-width:300px) {
    .justify-flex-start_xxs {
        justify-content: flex-start
    }
}

@media screen and (min-width:480px) {
    .justify-flex-start_xs {
        justify-content: flex-start
    }
}

@media screen and (min-width:600px) {
    .justify-flex-start_s {
        justify-content: flex-start
    }
}

@media screen and (min-width:840px) {
    .justify-flex-start_m {
        justify-content: flex-start
    }
}

@media screen and (min-width:960px) {
    .justify-flex-start_l {
        justify-content: flex-start
    }
}

@media screen and (min-width:1280px) {
    .justify-flex-start_xl {
        justify-content: flex-start
    }
}

@media screen and (min-width:1440px) {
    .justify-flex-start_xxl {
        justify-content: flex-start
    }
}

.justify-flex-end {
    justify-content: flex-end
}

@media screen and (min-width:300px) {
    .justify-flex-end_xxs {
        justify-content: flex-end
    }
}

@media screen and (min-width:480px) {
    .justify-flex-end_xs {
        justify-content: flex-end
    }
}

@media screen and (min-width:600px) {
    .justify-flex-end_s {
        justify-content: flex-end
    }
}

@media screen and (min-width:840px) {
    .justify-flex-end_m {
        justify-content: flex-end
    }
}

@media screen and (min-width:960px) {
    .justify-flex-end_l {
        justify-content: flex-end
    }
}

@media screen and (min-width:1280px) {
    .justify-flex-end_xl {
        justify-content: flex-end
    }
}

@media screen and (min-width:1440px) {
    .justify-flex-end_xxl {
        justify-content: flex-end
    }
}

.justify-space-between {
    justify-content: space-between
}

@media screen and (min-width:300px) {
    .justify-space-between_xxs {
        justify-content: space-between
    }
}

@media screen and (min-width:480px) {
    .justify-space-between_xs {
        justify-content: space-between
    }
}

@media screen and (min-width:600px) {
    .justify-space-between_s {
        justify-content: space-between
    }
}

@media screen and (min-width:840px) {
    .justify-space-between_m {
        justify-content: space-between
    }
}

@media screen and (min-width:960px) {
    .justify-space-between_l {
        justify-content: space-between
    }
}

@media screen and (min-width:1280px) {
    .justify-space-between_xl {
        justify-content: space-between
    }
}

@media screen and (min-width:1440px) {
    .justify-space-between_xxl {
        justify-content: space-between
    }
}

.justify-space-around {
    justify-content: space-around
}

@media screen and (min-width:300px) {
    .justify-space-around_xxs {
        justify-content: space-around
    }
}

@media screen and (min-width:480px) {
    .justify-space-around_xs {
        justify-content: space-around
    }
}

@media screen and (min-width:600px) {
    .justify-space-around_s {
        justify-content: space-around
    }
}

@media screen and (min-width:840px) {
    .justify-space-around_m {
        justify-content: space-around
    }
}

@media screen and (min-width:960px) {
    .justify-space-around_l {
        justify-content: space-around
    }
}

@media screen and (min-width:1280px) {
    .justify-space-around_xl {
        justify-content: space-around
    }
}

@media screen and (min-width:1440px) {
    .justify-space-around_xxl {
        justify-content: space-around
    }
}

.justify-space-evenly {
    justify-content: space-evenly
}

@media screen and (min-width:300px) {
    .justify-space-evenly_xxs {
        justify-content: space-evenly
    }
}

@media screen and (min-width:480px) {
    .justify-space-evenly_xs {
        justify-content: space-evenly
    }
}

@media screen and (min-width:600px) {
    .justify-space-evenly_s {
        justify-content: space-evenly
    }
}

@media screen and (min-width:840px) {
    .justify-space-evenly_m {
        justify-content: space-evenly
    }
}

@media screen and (min-width:960px) {
    .justify-space-evenly_l {
        justify-content: space-evenly
    }
}

@media screen and (min-width:1280px) {
    .justify-space-evenly_xl {
        justify-content: space-evenly
    }
}

@media screen and (min-width:1440px) {
    .justify-space-evenly_xxl {
        justify-content: space-evenly
    }
}

.justify-stretch {
    justify-content: stretch
}

@media screen and (min-width:300px) {
    .justify-stretch_xxs {
        justify-content: stretch
    }
}

@media screen and (min-width:480px) {
    .justify-stretch_xs {
        justify-content: stretch
    }
}

@media screen and (min-width:600px) {
    .justify-stretch_s {
        justify-content: stretch
    }
}

@media screen and (min-width:840px) {
    .justify-stretch_m {
        justify-content: stretch
    }
}

@media screen and (min-width:960px) {
    .justify-stretch_l {
        justify-content: stretch
    }
}

@media screen and (min-width:1280px) {
    .justify-stretch_xl {
        justify-content: stretch
    }
}

@media screen and (min-width:1440px) {
    .justify-stretch_xxl {
        justify-content: stretch
    }
}

.padding-none {
    padding: 0
}

@media screen and (min-width:300px) {
    .padding-none_xxs {
        padding: 0
    }
}

@media screen and (min-width:480px) {
    .padding-none_xs {
        padding: 0
    }
}

@media screen and (min-width:600px) {
    .padding-none_s {
        padding: 0
    }
}

@media screen and (min-width:840px) {
    .padding-none_m {
        padding: 0
    }
}

@media screen and (min-width:960px) {
    .padding-none_l {
        padding: 0
    }
}

@media screen and (min-width:1280px) {
    .padding-none_xl {
        padding: 0
    }
}

@media screen and (min-width:1440px) {
    .padding-none_xxl {
        padding: 0
    }
}

.padding-s {
    padding: .4rem
}

@media screen and (min-width:300px) {
    .padding-s_xxs {
        padding: .4rem
    }
}

@media screen and (min-width:480px) {
    .padding-s_xs {
        padding: .4rem
    }
}

@media screen and (min-width:600px) {
    .padding-s_s {
        padding: .4rem
    }
}

@media screen and (min-width:840px) {
    .padding-s_m {
        padding: .4rem
    }
}

@media screen and (min-width:960px) {
    .padding-s_l {
        padding: .4rem
    }
}

@media screen and (min-width:1280px) {
    .padding-s_xl {
        padding: .4rem
    }
}

@media screen and (min-width:1440px) {
    .padding-s_xxl {
        padding: .4rem
    }
}

.padding-m {
    padding: .8rem
}

@media screen and (min-width:300px) {
    .padding-m_xxs {
        padding: .8rem
    }
}

@media screen and (min-width:480px) {
    .padding-m_xs {
        padding: .8rem
    }
}

@media screen and (min-width:600px) {
    .padding-m_s {
        padding: .8rem
    }
}

@media screen and (min-width:840px) {
    .padding-m_m {
        padding: .8rem
    }
}

@media screen and (min-width:960px) {
    .padding-m_l {
        padding: .8rem
    }
}

@media screen and (min-width:1280px) {
    .padding-m_xl {
        padding: .8rem
    }
}

@media screen and (min-width:1440px) {
    .padding-m_xxl {
        padding: .8rem
    }
}

.padding-l {
    padding: 1.2rem
}

@media screen and (min-width:300px) {
    .padding-l_xxs {
        padding: 1.2rem
    }
}

@media screen and (min-width:480px) {
    .padding-l_xs {
        padding: 1.2rem
    }
}

@media screen and (min-width:600px) {
    .padding-l_s {
        padding: 1.2rem
    }
}

@media screen and (min-width:840px) {
    .padding-l_m {
        padding: 1.2rem
    }
}

@media screen and (min-width:960px) {
    .padding-l_l {
        padding: 1.2rem
    }
}

@media screen and (min-width:1280px) {
    .padding-l_xl {
        padding: 1.2rem
    }
}

@media screen and (min-width:1440px) {
    .padding-l_xxl {
        padding: 1.2rem
    }
}

.padding-xl {
    padding: 1.6rem
}

@media screen and (min-width:300px) {
    .padding-xl_xxs {
        padding: 1.6rem
    }
}

@media screen and (min-width:480px) {
    .padding-xl_xs {
        padding: 1.6rem
    }
}

@media screen and (min-width:600px) {
    .padding-xl_s {
        padding: 1.6rem
    }
}

@media screen and (min-width:840px) {
    .padding-xl_m {
        padding: 1.6rem
    }
}

@media screen and (min-width:960px) {
    .padding-xl_l {
        padding: 1.6rem
    }
}

@media screen and (min-width:1280px) {
    .padding-xl_xl {
        padding: 1.6rem
    }
}

@media screen and (min-width:1440px) {
    .padding-xl_xxl {
        padding: 1.6rem
    }
}

.visibility-none {
    display: none
}

@media screen and (min-width:300px) {
    .visibility-none_xxs {
        display: none
    }
}

@media screen and (min-width:480px) {
    .visibility-none_xs {
        display: none
    }
}

@media screen and (min-width:600px) {
    .visibility-none_s {
        display: none
    }
}

@media screen and (min-width:840px) {
    .visibility-none_m {
        display: none
    }
}

@media screen and (min-width:960px) {
    .visibility-none_l {
        display: none
    }
}

@media screen and (min-width:1280px) {
    .visibility-none_xl {
        display: none
    }
}

@media screen and (min-width:1440px) {
    .visibility-none_xxl {
        display: none
    }
}

.visibility-hidden {
    visibility: hidden
}

@media screen and (min-width:300px) {
    .visibility-hidden_xxs {
        visibility: hidden
    }
}

@media screen and (min-width:480px) {
    .visibility-hidden_xs {
        visibility: hidden
    }
}

@media screen and (min-width:600px) {
    .visibility-hidden_s {
        visibility: hidden
    }
}

@media screen and (min-width:840px) {
    .visibility-hidden_m {
        visibility: hidden
    }
}

@media screen and (min-width:960px) {
    .visibility-hidden_l {
        visibility: hidden
    }
}

@media screen and (min-width:1280px) {
    .visibility-hidden_xl {
        visibility: hidden
    }
}

@media screen and (min-width:1440px) {
    .visibility-hidden_xxl {
        visibility: hidden
    }
}

.visibility-visible {
    visibility: visible
}

@media screen and (min-width:300px) {
    .visibility-visible_xxs {
        visibility: visible
    }
}

@media screen and (min-width:480px) {
    .visibility-visible_xs {
        visibility: visible
    }
}

@media screen and (min-width:600px) {
    .visibility-visible_s {
        visibility: visible
    }
}

@media screen and (min-width:840px) {
    .visibility-visible_m {
        visibility: visible
    }
}

@media screen and (min-width:960px) {
    .visibility-visible_l {
        visibility: visible
    }
}

@media screen and (min-width:1280px) {
    .visibility-visible_xl {
        visibility: visible
    }
}

@media screen and (min-width:1440px) {
    .visibility-visible_xxl {
        visibility: visible
    }
}

[class*=width-] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%
}

.width-1-2 {
    width: 50%
}

@media screen and (min-width:300px) {
    .width-1-2_xxs {
        width: 50%
    }
}

@media screen and (min-width:480px) {
    .width-1-2_xs {
        width: 50%
    }
}

@media screen and (min-width:600px) {
    .width-1-2_s {
        width: 50%
    }
}

@media screen and (min-width:840px) {
    .width-1-2_m {
        width: 50%
    }
}

@media screen and (min-width:960px) {
    .width-1-2_l {
        width: 50%
    }
}

@media screen and (min-width:1280px) {
    .width-1-2_xl {
        width: 50%
    }
}

@media screen and (min-width:1440px) {
    .width-1-2_xxl {
        width: 50%
    }
}

.width-1-3 {
    width: 33.32223%
}

@media screen and (min-width:300px) {
    .width-1-3_xxs {
        width: 33.32223%
    }
}

@media screen and (min-width:480px) {
    .width-1-3_xs {
        width: 33.32223%
    }
}

@media screen and (min-width:600px) {
    .width-1-3_s {
        width: 33.32223%
    }
}

@media screen and (min-width:840px) {
    .width-1-3_m {
        width: 33.32223%
    }
}

@media screen and (min-width:960px) {
    .width-1-3_l {
        width: 33.32223%
    }
}

@media screen and (min-width:1280px) {
    .width-1-3_xl {
        width: 33.32223%
    }
}

@media screen and (min-width:1440px) {
    .width-1-3_xxl {
        width: 33.32223%
    }
}

.width-2-3 {
    width: 66.64445%
}

@media screen and (min-width:300px) {
    .width-2-3_xxs {
        width: 66.64445%
    }
}

@media screen and (min-width:480px) {
    .width-2-3_xs {
        width: 66.64445%
    }
}

@media screen and (min-width:600px) {
    .width-2-3_s {
        width: 66.64445%
    }
}

@media screen and (min-width:840px) {
    .width-2-3_m {
        width: 66.64445%
    }
}

@media screen and (min-width:960px) {
    .width-2-3_l {
        width: 66.64445%
    }
}

@media screen and (min-width:1280px) {
    .width-2-3_xl {
        width: 66.64445%
    }
}

@media screen and (min-width:1440px) {
    .width-2-3_xxl {
        width: 66.64445%
    }
}

.width-1-4 {
    width: 25%
}

@media screen and (min-width:300px) {
    .width-1-4_xxs {
        width: 25%
    }
}

@media screen and (min-width:480px) {
    .width-1-4_xs {
        width: 25%
    }
}

@media screen and (min-width:600px) {
    .width-1-4_s {
        width: 25%
    }
}

@media screen and (min-width:840px) {
    .width-1-4_m {
        width: 25%
    }
}

@media screen and (min-width:960px) {
    .width-1-4_l {
        width: 25%
    }
}

@media screen and (min-width:1280px) {
    .width-1-4_xl {
        width: 25%
    }
}

@media screen and (min-width:1440px) {
    .width-1-4_xxl {
        width: 25%
    }
}

.width-3-4 {
    width: 75%
}

@media screen and (min-width:300px) {
    .width-3-4_xxs {
        width: 75%
    }
}

@media screen and (min-width:480px) {
    .width-3-4_xs {
        width: 75%
    }
}

@media screen and (min-width:600px) {
    .width-3-4_s {
        width: 75%
    }
}

@media screen and (min-width:840px) {
    .width-3-4_m {
        width: 75%
    }
}

@media screen and (min-width:960px) {
    .width-3-4_l {
        width: 75%
    }
}

@media screen and (min-width:1280px) {
    .width-3-4_xl {
        width: 75%
    }
}

@media screen and (min-width:1440px) {
    .width-3-4_xxl {
        width: 75%
    }
}

.width-1-5 {
    width: 20%
}

@media screen and (min-width:300px) {
    .width-1-5_xxs {
        width: 20%
    }
}

@media screen and (min-width:480px) {
    .width-1-5_xs {
        width: 20%
    }
}

@media screen and (min-width:600px) {
    .width-1-5_s {
        width: 20%
    }
}

@media screen and (min-width:840px) {
    .width-1-5_m {
        width: 20%
    }
}

@media screen and (min-width:960px) {
    .width-1-5_l {
        width: 20%
    }
}

@media screen and (min-width:1280px) {
    .width-1-5_xl {
        width: 20%
    }
}

@media screen and (min-width:1440px) {
    .width-1-5_xxl {
        width: 20%
    }
}

.width-2-5 {
    width: 40%
}

@media screen and (min-width:300px) {
    .width-2-5_xxs {
        width: 40%
    }
}

@media screen and (min-width:480px) {
    .width-2-5_xs {
        width: 40%
    }
}

@media screen and (min-width:600px) {
    .width-2-5_s {
        width: 40%
    }
}

@media screen and (min-width:840px) {
    .width-2-5_m {
        width: 40%
    }
}

@media screen and (min-width:960px) {
    .width-2-5_l {
        width: 40%
    }
}

@media screen and (min-width:1280px) {
    .width-2-5_xl {
        width: 40%
    }
}

@media screen and (min-width:1440px) {
    .width-2-5_xxl {
        width: 40%
    }
}

.width-3-5 {
    width: 60%
}

@media screen and (min-width:300px) {
    .width-3-5_xxs {
        width: 60%
    }
}

@media screen and (min-width:480px) {
    .width-3-5_xs {
        width: 60%
    }
}

@media screen and (min-width:600px) {
    .width-3-5_s {
        width: 60%
    }
}

@media screen and (min-width:840px) {
    .width-3-5_m {
        width: 60%
    }
}

@media screen and (min-width:960px) {
    .width-3-5_l {
        width: 60%
    }
}

@media screen and (min-width:1280px) {
    .width-3-5_xl {
        width: 60%
    }
}

@media screen and (min-width:1440px) {
    .width-3-5_xxl {
        width: 60%
    }
}

.width-4-5 {
    width: 80%
}

@media screen and (min-width:300px) {
    .width-4-5_xxs {
        width: 80%
    }
}

@media screen and (min-width:480px) {
    .width-4-5_xs {
        width: 80%
    }
}

@media screen and (min-width:600px) {
    .width-4-5_s {
        width: 80%
    }
}

@media screen and (min-width:840px) {
    .width-4-5_m {
        width: 80%
    }
}

@media screen and (min-width:960px) {
    .width-4-5_l {
        width: 80%
    }
}

@media screen and (min-width:1280px) {
    .width-4-5_xl {
        width: 80%
    }
}

@media screen and (min-width:1440px) {
    .width-4-5_xxl {
        width: 80%
    }
}

.width-1-6 {
    width: 16.66389%
}

@media screen and (min-width:300px) {
    .width-1-6_xxs {
        width: 16.66389%
    }
}

@media screen and (min-width:480px) {
    .width-1-6_xs {
        width: 16.66389%
    }
}

@media screen and (min-width:600px) {
    .width-1-6_s {
        width: 16.66389%
    }
}

@media screen and (min-width:840px) {
    .width-1-6_m {
        width: 16.66389%
    }
}

@media screen and (min-width:960px) {
    .width-1-6_l {
        width: 16.66389%
    }
}

@media screen and (min-width:1280px) {
    .width-1-6_xl {
        width: 16.66389%
    }
}

@media screen and (min-width:1440px) {
    .width-1-6_xxl {
        width: 16.66389%
    }
}

.width-5-6 {
    width: 83.31945%
}

@media screen and (min-width:300px) {
    .width-5-6_xxs {
        width: 83.31945%
    }
}

@media screen and (min-width:480px) {
    .width-5-6_xs {
        width: 83.31945%
    }
}

@media screen and (min-width:600px) {
    .width-5-6_s {
        width: 83.31945%
    }
}

@media screen and (min-width:840px) {
    .width-5-6_m {
        width: 83.31945%
    }
}

@media screen and (min-width:960px) {
    .width-5-6_l {
        width: 83.31945%
    }
}

@media screen and (min-width:1280px) {
    .width-5-6_xl {
        width: 83.31945%
    }
}

@media screen and (min-width:1440px) {
    .width-5-6_xxl {
        width: 83.31945%
    }
}

.width-xxs {
    width: 18.75rem
}

@media screen and (min-width:300px) {
    .width-xxs_xxs {
        width: 18.75rem
    }
}

@media screen and (min-width:480px) {
    .width-xxs_xs {
        width: 18.75rem
    }
}

@media screen and (min-width:600px) {
    .width-xxs_s {
        width: 18.75rem
    }
}

@media screen and (min-width:840px) {
    .width-xxs_m {
        width: 18.75rem
    }
}

@media screen and (min-width:960px) {
    .width-xxs_l {
        width: 18.75rem
    }
}

@media screen and (min-width:1280px) {
    .width-xxs_xl {
        width: 18.75rem
    }
}

@media screen and (min-width:1440px) {
    .width-xxs_xxl {
        width: 18.75rem
    }
}

.width-xs {
    width: 30rem
}

@media screen and (min-width:300px) {
    .width-xs_xxs {
        width: 30rem
    }
}

@media screen and (min-width:480px) {
    .width-xs_xs {
        width: 30rem
    }
}

@media screen and (min-width:600px) {
    .width-xs_s {
        width: 30rem
    }
}

@media screen and (min-width:840px) {
    .width-xs_m {
        width: 30rem
    }
}

@media screen and (min-width:960px) {
    .width-xs_l {
        width: 30rem
    }
}

@media screen and (min-width:1280px) {
    .width-xs_xl {
        width: 30rem
    }
}

@media screen and (min-width:1440px) {
    .width-xs_xxl {
        width: 30rem
    }
}

.width-s {
    width: 37.5rem
}

@media screen and (min-width:300px) {
    .width-s_xxs {
        width: 37.5rem
    }
}

@media screen and (min-width:480px) {
    .width-s_xs {
        width: 37.5rem
    }
}

@media screen and (min-width:600px) {
    .width-s_s {
        width: 37.5rem
    }
}

@media screen and (min-width:840px) {
    .width-s_m {
        width: 37.5rem
    }
}

@media screen and (min-width:960px) {
    .width-s_l {
        width: 37.5rem
    }
}

@media screen and (min-width:1280px) {
    .width-s_xl {
        width: 37.5rem
    }
}

@media screen and (min-width:1440px) {
    .width-s_xxl {
        width: 37.5rem
    }
}

.width-m {
    width: 52.5rem
}

@media screen and (min-width:300px) {
    .width-m_xxs {
        width: 52.5rem
    }
}

@media screen and (min-width:480px) {
    .width-m_xs {
        width: 52.5rem
    }
}

@media screen and (min-width:600px) {
    .width-m_s {
        width: 52.5rem
    }
}

@media screen and (min-width:840px) {
    .width-m_m {
        width: 52.5rem
    }
}

@media screen and (min-width:960px) {
    .width-m_l {
        width: 52.5rem
    }
}

@media screen and (min-width:1280px) {
    .width-m_xl {
        width: 52.5rem
    }
}

@media screen and (min-width:1440px) {
    .width-m_xxl {
        width: 52.5rem
    }
}

.width-l {
    width: 60rem
}

@media screen and (min-width:300px) {
    .width-l_xxs {
        width: 60rem
    }
}

@media screen and (min-width:480px) {
    .width-l_xs {
        width: 60rem
    }
}

@media screen and (min-width:600px) {
    .width-l_s {
        width: 60rem
    }
}

@media screen and (min-width:840px) {
    .width-l_m {
        width: 60rem
    }
}

@media screen and (min-width:960px) {
    .width-l_l {
        width: 60rem
    }
}

@media screen and (min-width:1280px) {
    .width-l_xl {
        width: 60rem
    }
}

@media screen and (min-width:1440px) {
    .width-l_xxl {
        width: 60rem
    }
}

.width-xl {
    width: 80rem
}

@media screen and (min-width:300px) {
    .width-xl_xxs {
        width: 80rem
    }
}

@media screen and (min-width:480px) {
    .width-xl_xs {
        width: 80rem
    }
}

@media screen and (min-width:600px) {
    .width-xl_s {
        width: 80rem
    }
}

@media screen and (min-width:840px) {
    .width-xl_m {
        width: 80rem
    }
}

@media screen and (min-width:960px) {
    .width-xl_l {
        width: 80rem
    }
}

@media screen and (min-width:1280px) {
    .width-xl_xl {
        width: 80rem
    }
}

@media screen and (min-width:1440px) {
    .width-xl_xxl {
        width: 80rem
    }
}

.width-xxl {
    width: 90rem
}

@media screen and (min-width:300px) {
    .width-xxl_xxs {
        width: 90rem
    }
}

@media screen and (min-width:480px) {
    .width-xxl_xs {
        width: 90rem
    }
}

@media screen and (min-width:600px) {
    .width-xxl_s {
        width: 90rem
    }
}

@media screen and (min-width:840px) {
    .width-xxl_m {
        width: 90rem
    }
}

@media screen and (min-width:960px) {
    .width-xxl_l {
        width: 90rem
    }
}

@media screen and (min-width:1280px) {
    .width-xxl_xl {
        width: 90rem
    }
}

@media screen and (min-width:1440px) {
    .width-xxl_xxl {
        width: 90rem
    }
}

.width-auto {
    width: auto
}

@media screen and (min-width:300px) {
    .width-auto_xxs {
        width: auto
    }
}

@media screen and (min-width:480px) {
    .width-auto_xs {
        width: auto
    }
}

@media screen and (min-width:600px) {
    .width-auto_s {
        width: auto
    }
}

@media screen and (min-width:840px) {
    .width-auto_m {
        width: auto
    }
}

@media screen and (min-width:960px) {
    .width-auto_l {
        width: auto
    }
}

@media screen and (min-width:1280px) {
    .width-auto_xl {
        width: auto
    }
}

@media screen and (min-width:1440px) {
    .width-auto_xxl {
        width: auto
    }
}

.width-expand {
    flex: 1;
    min-width: 1px
}

@media screen and (min-width:300px) {
    .width-expand_xxs {
        flex: 1;
        min-width: 1px
    }
}

@media screen and (min-width:480px) {
    .width-expand_xs {
        flex: 1;
        min-width: 1px
    }
}

@media screen and (min-width:600px) {
    .width-expand_s {
        flex: 1;
        min-width: 1px
    }
}

@media screen and (min-width:840px) {
    .width-expand_m {
        flex: 1;
        min-width: 1px
    }
}

@media screen and (min-width:960px) {
    .width-expand_l {
        flex: 1;
        min-width: 1px
    }
}

@media screen and (min-width:1280px) {
    .width-expand_xl {
        flex: 1;
        min-width: 1px
    }
}

@media screen and (min-width:1440px) {
    .width-expand_xxl {
        flex: 1;
        min-width: 1px
    }
}

*,
:after,
:before {
    box-sizing: inherit
}

html {
    height: 100%;
    font-size: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-size: .875rem;
    font-family: Nunito Sans, Helvetica Neue, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: #2b2f36
}

.structure,
body {
    position: relative;
    min-height: 100%
}

a {
    color: #0e1115;
    cursor: pointer
}

a:active,
a:hover {
    outline: 0
}


table {
    border-collapse: collapse;
    border-spacing: 10
}